//- div.vimeo-wrapper.theEnd(style="display: none;")
//-     iframe(src='https://player.vimeo.com/video/338017976?background=1&autoplay=1&loop=1&byline=0&title=0&muted=0', frameborder='0', webkitallowfullscreen='' mozallowfullscreen='', allowfullscreen='')
//- div.row.text-center.theEnd(style="display: none;")
    //- div.col.text-center.text-white.darkShadow.bg-danger
div.row.text-center.theEnd(style="display: none;")
    div.col
        H4.text-white.darkShadow congrats you finished the Quiz and guess what?!? The points don't matter
        //- //- img.w-25(src="../img/gifs/verygood.gif", alt="very good")
        iframe(src='https://player.vimeo.com/video/338017976?autoplay=1',width="640", height="480", frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')

