div.row.text-center.theEnd(style="display: none;")
    div.col.text-center.text-white.darkShadow
        H4 congrats you finished the Quiz and guess what?!? The points don't matter
div.row.text-center.theEnd(style="display: none;")
    div.col
        img(src="../img/gifs/verygood.gif", alt="very good")
      

//- <iframe src="https://player.vimeo.com/video/338017976" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>