//- .navbar.bg-dark.align-bottom.fixed-bottom 
    img(src="../img/icons/apple.png", alt="", srcset="")
    img(src="../img/icons/facebook-box.png", alt="", srcset="")
    img(src="../img/icons/google-earth.png", alt="", srcset="")
    img(src="../img/icons/instagram.png", alt="", srcset="")
    img(src="../img/icons/google.png", alt="", srcset="")
