
link(rel="stylesheet", href="../css/style.scss")
link(rel="shortcut icon", href="../img/smileyface.ico", type="image/x-icon")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap")
title Nerds N Geeks