nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.text-white.navbar-expand-md.navbar-expand-sm.navbar-expand-xs
    //- div.collapse.nav-collapse
    div
        ul.navbar-nav.text-white
            div.navbar-brand
                a(href="../pug/index.pug")
                    img.w-50(src="../img/NNG_logo.png", alt="")
                img#sgtfrog(src="../img/Keroroflash.png", alt="" style="height: 40px; margin-left:-20; z-index:2;")
            //- li.nav-item
            //-     a.nav-link(href="index.pug") home
            //- li.nav-item
            //-     a.nav-link(href="trivia.pug") trivia
            //- li.nav-item
            //-     a.nav-link(href="thankyou.pug") thank you