//- extends _bootstrap
nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.text-white.navbar-expand-md.navbar-expand-sm.navbar-expand-xs
    //- div.collapse.nav-collapse
    div
        ul.navbar-nav.text-white
            div.navbar-brand
                a(href="../pug/index.pug")
                    img.w-50(src="../img/NNG_logo.png", alt="")
                a(href="#" data-toggle="modal" data-target="#exampleModal")
                    img#sgtfrog(src="../img/Keroroflash.png", alt="" style="height: 40px; margin-left:-20;")
               
            //- li.nav-item
            //-     a.nav-link(href="index.pug") home
            //- li.nav-item
            //-     a.nav-link(href="trivia.pug") trivia
            //- li.nav-item
            //-     a.nav-link(href="thankyou.pug") thank you



<!-- Button trigger modal -->
//- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
//-   Launch demo modal
//- </button>

//- <!-- Modal -->
//- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
//-   <div class="modal-dialog" role="document">
//-     <div class="modal-content">
//-       <div class="modal-header">
//-         <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
//-         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
//-           <span aria-hidden="true">&times;</span>
//-         </button>
//-       </div>
//-       <div class="modal-body">
//-         ...
//-       </div>
//-       <div class="modal-footer">
//-         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
//-         <button type="button" class="btn btn-primary">Save changes</button>
//-       </div>
//-     </div>
//-   </div>
//- </div>