nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.text-white
    //- div.collapse.nav-collapse
    div
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="index.pug") home
            li.nav-item
                a.nav-link(href="trivia.pug") trivia