<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include head.pug
    body
        div.embed-responsive.embed-responsive-16by9.vimeo-wrapper
        iframe(src="https://player.vimeo.com/video/338017976?autoplay=1", allow="autoplay;" frameborder="0", width="440", height="480")