//- div.btn-group-vertical.mt-2
    //- button.btn.btn-light.btn-lg.mt-1#answer1 this one is a test
    //- button.btn.btn-light.btn-lg.mt-1#answer2 this one is a test
    //- button.btn.btn-light.btn-lg.mt-1#answer3 this one is a test
form.ml-5.p-1#quizForm
    div.answers(style="display:none; margin:0; padding: 5px;")
        h5 Answer: 
            span.mb-3.answerText
        a.btn-danger.btn-lg.w-75.keepGoing(href="#") Continue 
    div.form-group.mx-auto
        .checkbox.text-left
            input.quizInput(type="radio" name= "quiz" value="testing") 
            label.ml-1#answer1(for="checkbox")  
        .checkbox.text-left
            input.quizInput(type="radio" name= "quiz" value="testing")
            label.ml-1#answer2(for="checkbox") 
        .checkbox.text-left
            input.quizInput(type="radio" name= "quiz" value="testing")
            label.ml-1#answer3(for="checkbox")  
        input.mt-2.btn-primary.btn-lg.submitButton(type="submit")

        

