<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include head.pug
    body.designerBack
    include nav.pug
    div.col
        div.float-right.bg-dark.align-middle.rounded-circle(style="height: 150px; width: 150px;")
            h3.text-center.text-light#Score(style="margin-top: 10px; padding-top:35px;") score #
        div.card.mt-5.w-50.mx-auto.text-center
            .card-body.text-center

                h4 Question # 
                    span#questNumber this is a span
                hr
                h5#activeQuestion this is a test
                hr
                include triviaques.pug

                //- button ENTER
    script(src="../js/main.js")


//-<div class="input-group">
//-   <div class="input-group-prepend">
//-     <div class="input-group-text">
//-       <input type="radio" aria-label="Radio button for following text input">
//-     </div>
//-   </div>
//-   <input type="text" class="form-control" aria-label="Text input with radio button">
//- </div>

    