<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/trivia.scss")
        include head.pug
    body.designerBack
    include nav.pug
    div.col.goldenRatio.text-center
        div.readyGo.text-center.mx-auto.start.mt-5
            //- iframe.giphy-embed(src='https://giphy.com/embed/l0IsIZw8doJm3ysRq', width='480', height='264', frameborder='0', allowfullscreen='')
            img(src="../img/gifs/okgo.gif", alt="okay ready go")
            a.btn-dark.btn-lg.p-5(href="#")#start START
                img(src="../img/icons/power.png", alt="")

        div.float-right.bg-danger.align-middle.rounded-circle.score.mainQuiz(style="height: 150px; width: 150px; margin-right: 10px; display:none;")
            
            h3.text-center.text-light(style="margin-top: 10px; padding-top:35px;") score #
                a(href="https://player.vimeo.com/video/338021818?autoplay=1" target="_blank" style="text-decoration: none; color: white;")
                    div#score
        div.card.w-50.mx-auto.text-center.mainQuiz(style="margin-top: 20px; display:none; padding:2px;")
            .card-body.text-center
                h4 Question # 
                    span#questNumber 
                hr
                h5#activeQuestion 
                hr
                include triviaques.pug
    include endgame.pug
                //- button ENTER
    include footer.pug

    script(src="../js/main.js")
