$enable-gradients: true;
.card {
    box-shadow: 5px 10px 10px black;
}

#questNumber {
    font-size: 16px;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";