$enable-gradients: true;
.card {
    box-shadow: 5px 10px 10px black;
}

#questNumber {
    font-size: 16px;
}

// .rounders {
//     height: 100px;
//     width: 100px;
//     border-radius: 50%;
// }
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";